<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin-Tickets</title>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'images/images/logo1.png' %}" />

  <link rel="stylesheet" href="../../static/index.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="{% static 'bootstrap/bootstrap-5.2.2-dist/bootstrap-5.2.2-dist/css/bootstrap.min.css' %}"
    rel="stylesheet" />

  <style>
        form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input, select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    display: inline-block;
    margin-top: 8px;
}

button {
    display: block;
    margin-top: 20px;
}

.col-md-6 input[type="checkbox"] {
    margin-left: 35px; /* For slight space adjustment between label and checkbox */
}

    #cMenu {
      display: none;
    }

    .table {
      border-radius: 10px;
      overflow: hidden;
    }

    .table th,
    .table td {
      vertical-align: middle;
      padding: 15px;
      text-align: left;
    }

    .table thead {
      background-color: #343a40;
      color: white;
    }

    .heading {
      @media (max-width: 758px) {
        margin: 10px !important;
      }
    }

    .headDiv {
      margin-left: 0px;
    }

    .hidden {
      display: none;
    }

    /* Pagination Styles */
    .pagination {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    .pagination .page-item.active .page-link {
      background-color: #67e6be;
      border-color: #67e6be;
    }

    .pagination .page-link {
      background-color: white;
      color: black;
      padding: 10px 15px;
      margin: 0 5px;
    }

    .pagination .page-link:hover {
      background-color: #e9ecef;
      color: black;
    }

    .prev {
      background-color: #6c757d !important;
      opacity: 30%;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function (event3) {
      const cBtn = document.getElementById("cBtn");
      var cMenu = document.getElementById("cMenu");

      cBtn.addEventListener("click", function (event3) {
        cMenu = document.getElementById("cMenu");
        cMenu.style.display = "block";
        event.stopPropagation();
      });
      document.querySelectorAll(".toggle-col").forEach(function (checkbox) {
        console.log("gfjgh");
        checkbox.addEventListener("change", function () {
          const colClass = this.getAttribute("data-col");
          const isVisible = this.checked;
          console.log("eee");

          document
            .querySelectorAll(
              "th:nth-child(" + colClass + "), td:nth-child(" + colClass + ")"
            )
            .forEach(function (cell) {
              cell.style.display = isVisible ? "" : "none";
            });
        });
      });
      document.addEventListener("click", function (event3) {
        if (
          cMenu.style.display == "block" &&
          !cMenu.contains(event.target) &&
          event.target !== cBtn
        ) {
          cMenu.style.display = "none";
        }
      });
    });

    function messageBtn(event6) {
      document.getElementById("ViewMassage").style.display = "block";
      document.getElementById("packageDiv").style.display = "none";

      event.stopPropagation();
    }
  </script>
</head>

<body>
  <div class="row bigDiv">
    <!-- sidebar -->
    <div class="sidebar nav col-5 col-sm-4 col-md-3 col-xl-3 col-xxl-2 col-lg-3">
      <div id="sidebar">{% include 'sidebarAdmin.html' %}</div>
    </div>
    <!-- Header -->
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-10">
      <div class="row">
        <div id="header" class="p-0">{% include 'navbarAdmin.html' %}</div>
      </div>
      <div id="ViewMassage">
        <h2>Testing</h2>
        <div style="display: flex; flex-direction: row">
          <a style="text-decoration: none; color: black" href="/tickets/">
            <div>
              <div>
                <img src="/media/images/Atickets.svg" alt="Tickets" />

                <span>Tickets </span>
              </div>
            </div>
          </a>
          <p style="margin-left: 10px">></p>
          <a href="#" style="text-decoration: none; color: black; margin-left: 10px">testing</a>
        </div>

        <div class="card tmaindiv vMDiv"  >
          <form method="POST" class="container mt-4" id="package_form">
            {% csrf_token %}
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Package Name:</label>
                    <input type="text" id="name" name="name" value="{{ package.name }}" class="form-control" required>
                </div>
                
                <div class="col-md-6">
                    <label for="weight" class="form-label">Weight (kg):</label>
                    <input type="number" step="0.01" id="weight" name="weight" value="{{ package.weight }}" class="form-control" required>
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="length" class="form-label">Length (cm):</label>
                    <input type="number" step="0.01" id="length" name="length" value="{{ package.length }}" class="form-control" required>
                </div>
                
                <div class="col-md-6">
                    <label for="width" class="form-label">Width (cm):</label>
                    <input type="number" step="0.01" id="width" name="width" value="{{ package.width }}" class="form-control" required>
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="height" class="form-label">Height (cm):</label>
                    <input type="number" step="0.01" id="height" name="height" value="{{ package.height }}" class="form-control" required>
                </div>
        
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" id="dynamic_pricing_enabled" name="dynamic_pricing_enabled" class="form-check-input" {% if package.dynamic_pricing_enabled %}checked{% endif %}>
                        <label for="dynamic_pricing_enabled" class="form-check-label">Enable Dynamic Pricing</label>
                    </div>
                </div>
            </div>
        
            <!-- Original Price input field, hidden if dynamic pricing is enabled -->
          
        
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="discount" class="form-label">Discount (%):</label>
                    <input type="number" step="0.01" id="discount" name="discount" value="{{ package.discount }}" class="form-control" required>
                </div>
                <div class="col-md-6">
                  <label for="id_type">Shipping Type</label>
                  <select class="form-control" name="type" id="id_type" required>
                      <option value="lb" {% if package and package.type == 'lb' %}selected{% endif %}>lb</option>
                      <option value="oz" {% if package and package.type == 'oz' %}selected{% endif %}>oz</option>
                  </select>
              </div>
            </div>
            <div id="originalPriceContainer" class="row mb-3">
              <div class="col-md-6">
                  <label for="original_price" class="form-label">Original Price ($):</label>
                  <input type="number" step="0.01" id="id_original_price" name="original_price" value="{{ package.original_price }}" class="form-control" />
              </div>
              
          </div>
            <div class="d-flex justify-content-between mb-3">
                <button type="submit" class="btn btn-dark">Save Changes</button>
                <!-- <a href="/packages_admin" class="btn btn-secondary">Cancel</a> -->
            </div>
        
            <!-- Display calculated prices -->
            <div>
                <strong>Original Price: </strong><span id="id_original_price_display">{{ package.original_price }}</span>
            </div>
            <div>
                <strong>Discounted Price: </strong><span id="id_discounted_price">{{ package.discounted_price }}</span>
            </div>
            <!-- <div>
                <strong>Discount Amount: </strong><span id="id_discount_amount">{{ package.discount_amount }}</span>
            </div>
            <div>
                <strong>Total Cost: </strong><span id="id_total_cost">{{ package.total_cost }}</span>
            </div> -->
        </form>
        
        
       
    </div>


      </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#user').DataTable({
          "paging": true,
          "ordering": true,
          "searching": true,
          "info": true,
          "responsive": true,
        });
      });
     
    </script>
     <script>
      $(document).ready(function () {
         
          let dynamic_pricing_enabledCheckbox = $('#dynamic_pricing_enabled');
          let originalPriceContainer = $('#originalPriceContainer');
   
          function toggleOriginalPrice() {
              if (dynamic_pricing_enabledCheckbox.prop('checked')) {
                  originalPriceContainer.hide();   
              } else {
                  originalPriceContainer.show();   
              }
          }
   
          toggleOriginalPrice();
   
          dynamic_pricing_enabledCheckbox.change(function () {
              toggleOriginalPrice();
          });
  
          
          $('#package_form input').on('input', function () {
              let formData = {
                  weight: $('#weight').val(),
                  length: $('#length').val(),
                  width: $('#width').val(),
                  height: $('#height').val(),
                  dynamic_pricing_enabled: $('#dynamic_pricing_enabled').is(':checked') ? 'on' : 'off',
                  discount: $('#discount').val(),
              };
   
              if (!$('#dynamic_pricing_enabled').is(':checked')) {
                  formData.original_price = $('#id_original_price').val();
              }
   
              $.ajax({
                  url: '{% url "calculate_package_price" %}',   
                  type: 'POST',
                  headers: {
                      'X-CSRFToken': getCSRFToken()   
                  },
                  data: formData,
                  success: function (response) {
                      if (response.error) {
                          
                          alert('Error: ' + response.error);
                      } else {
                          
                          $('#id_original_price_display').text(response.original_price);   
                          $('#id_discounted_price').text(response.discounted_price);   
                          $('#id_discount_amount').text(response.discount_amount);  
                          $('#id_total_cost').text(response.total_cost);   
                      }
                  },
                  error: function (xhr, errmsg, err) {
                      // console.log('Error:', errmsg);
                  }
              });
          });
      });
  
      // Function to get the CSRF token
      function getCSRFToken() {
          return $('input[name="csrfmiddlewaretoken"]').val();
      }
  </script>
  
  
</body>

</html>